<template>
	<div id="presentation" :style="{ 'background-image' : 'url(' + image + ')' }">
		<img id="cursor" v-show="webMode" src="images/cursor.svg" :style="{ 'transform': 'translate(' + mouse.x + 'px,' + mouse.y + 'px)' }" />
	</div>
</template>

<style lang="less">

	#presentation {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content:center;
		align-items:center;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
	}

	#cursor{
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
	}
</style>

<script>
	const ipc = require('electron').ipcRenderer;
	const electron = require('electron');

	export default{
		props: ['slides', 'currentSlide'],
		data: function(){
			return {
				webMode: false,
				webView: null,
				dimensions: null,
				mouse: {'x': 0, 'y': 0},
				transform: null,
				ticking: false
			}
		},
		computed: {
			'image': function () {
				if(this.webMode){
					return this.webView;
				}
				return this.slides[this.currentSlide].slide;
			}
		},
		mounted: function () {
			var obj = this;
			ipc.on('slideChanged', function(e, value){
				obj.currentSlide = value;
				obj.webMode = false;
			});
			ipc.on('webView', function(e, value){
				obj.webView = value;
				if(obj.dimensions == null){
					let image = new Image();
					let presentation = document.getElementById('presentation');
					image.onload = function(e){
						obj.dimensions = {width: this.width, height: this.height};
						let presSize = presentation.getBoundingClientRect();
						let presRatio = presSize.width / presSize.height;
						let frameRatio = obj.dimensions.width / obj.dimensions.height;

						let scaleFactor = electron.screen.getPrimaryDisplay().scaleFactor;

						console.log(scaleFactor);

						if(presRatio > frameRatio){
							let scale = (presSize.height / obj.dimensions.height);
							let left = (presSize.width - (obj.dimensions.width * scale)) / 2;
							obj.transform = { 'left': left, 'top': 0, 'scale': scale * scaleFactor};
						} else {
							let scale = (presSize.width / obj.dimensions.width);
							let top = (presSize.height - (obj.dimensions.height * scale)) / 2;
							obj.transform = { 'left': 0, 'top': top, 'scale': scale * scaleFactor};
						}
						console.log(obj.transform);
					};
					image.src = value;
				}
				obj.webMode = true;
			});
			ipc.on('mouse', function(e,x,y){
				if (!obj.ticking) {
					window.requestAnimationFrame(function() {
						obj.mouse = {'x' : obj.transform.left + x * obj.transform.scale, 'y': obj.transform.top + y * obj.transform.scale };
						obj.ticking = false;
					});
				}
				obj.ticking = true;
			});
		}
	}
</script>
