<template>
	<div class="sidebar-thumb" v-bind:class="{ active: currentPage == page }">
		<img class="sidebar-thumb__canvas" :src="image" />
		<div class="sidebar-thumb__number">{{ page }}</div>
	</div>
</template>

<style lang="less">

	.sidebar-thumb{
		width: 100%;
		position: relative;
		margin-bottom: 1em;
	}

	.sidebar-thumb__canvas{
		width: 100%;
		box-shadow: 0 .15em .4em rgba(0,0,0,0.3);
		background-color: white;

	}

	.sidebar-thumb__number{
		margin-top: .2em;
		text-align: center;
		color: #666;
		font-size: .9em;
	}

	.sidebar-thumb.active .sidebar-thumb__canvas{
		outline: 2px solid #0099FF;
	}

</style>

<script>
	export default{
		props: ['image', 'page', 'currentPage']
	}
</script>
