<template>
	<!-- .toolbar-header sits at the top of your app -->
	<header class="toolbar toolbar-header">

		<div class="toolbar-actions">
			<button class="btn btn-default" @click="openFile">
				<span class="icon icon-folder"></span>
			</button>

			<button class="btn btn-primary pull-right" v-show="file" @click="present">
				<span class="icon icon-monitor icon-text" style="color: white;"></span>
				Present
			</button>
		</div>
	</header>
</template>

<script>
	const path = require('path');

	export default{
		props: ['file'],
		methods: {
			openFile: function () {
				this.$emit('openFile');
			},
			present: function () {
				this.$emit('present');
			}
		}
	}
</script>
